

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Poppins;
    /* padding: 100px; */
}


/* .icon-rtl {
    padding-right: 25px;
    background: url("./input_icons/Path\ 261username.svg") no-repeat right;
    background-size: 20px;
  } */

.demo-container{
    display: flex;
    
}
.demo-description{
    width: 35%;
    background-color: #eeeeee;
    padding: 40px 90px 30px 90px;
}
.demo-form{
    width: 75%;
    background-color: #F4F6F6;
    padding: 30px 90px 20px 80px;
}

.demo-des-head {
    font-size: 2rem;
    color: #084D77;
    margin-bottom: 20px;
}
.demo-des-para {
    color: #717171;
    font-size: 15px;
}

.demo-form-row{
    display: flex;
    margin-bottom: 19px;
    
}


input {
    min-width: 45%;
    padding: 7px 6px;
    border: solid 1px #D9D9D9;
    font-size: 14px;
    margin-right: 19px;
    /* border-radius: x; */
}

.username-input {
    background: url("./input_icons/Path\ 261username.svg") no-repeat right;
    background-size: 10px;
    background-position: 95%;
    background-color: #FFFFFF;
}

.email-input {
    background: url("./input_icons/Path\ 263email.svg") no-repeat right;
    background-size: 12px;
    background-position: 95%;
    background-color: #FFFFFF;
}

.country-input {
    background: url("./input_icons/Path\ 276country.svg") no-repeat right;
    background-size: 12px;
    background-position: 95%;
    background-color: #FFFFFF;
}
.phone-input-container{
    min-width: 300px;
    display: flex;
}
#cn-code{
    margin: 0;
    min-width: 50px;
    width: 30px;
}

.phone-input {
    background: url("./input_icons/Path\ 274phone.svg") no-repeat right;
    background-size: 12px;
    background-position: 95%;
    background-color: #FFFFFF;
    min-width: 114%;
}

.company-input {
    background: url("./input_icons/Path\ 279comany.svg") no-repeat right;
    background-size: 13px;
    background-position: 95%;
    background-color: #FFFFFF;
}

.job-input {
    background: url("./input_icons/Path\ 281job.svg") no-repeat right;
    background-size: 11px;
    background-position: 95%;
    background-color: #FFFFFF;
}

.message-input {
    background: url("./input_icons/Path\ 267message.svg") no-repeat right;
    background-size: 12px;
    background-position: 98% 10%;
    background-color: #FFFFFF;
    height: 50px;
    
}

textarea{
    font-size: 16px;
    padding: 2px 5px;
    width: 92%;
    border: solid 1px #D9D9D9;
    margin-bottom: 12px;
}


.demo-form-submit-btn{
    padding: 0px 5px;
    text-align: left;
    border: 2px solid transparent;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 100px;
    background:url("./input_icons/Group\ 7button.svg") no-repeat right,#064B87;
    background-position: 95%;
}